<h1>This is a global challenge view</h1>

{{#each allChallenges}}
  <h3>{{this.goal}} in {{this.timeNumber}} {{this.timeFormat}}</h3>
  {{#if userInSession}}
    <a href="#">Add challenge to my list</a>
  {{/if}}
{{/each}}