<div>
<img class="w-50 p-3 home-img img-fluid rounded mx-auto d-block" src="/images/woman-watering-plants-by-matheus.png" alt="Woman watering plants">
</div>
<div class="home-text text-center">
  <h1>Challenge your growth</h1>
  <p>Your new accountability buddy that helps you challenge yourself, achieve goals and grow.</p>
</div>
{{#if userInSession}}
  <div class="text-center home-btns">
    <a class="challenge-btn rounded" href="/challenges/new">New challenge</a>
    <a class="challenges-btn rounded" href="/challenges">My challenges</a>
  </div>
{{else}}
  <div class="text-center home-btns">
    <a class="get-started-btn rounded" href="/signup">Get started</a>
  </div>
{{/if}}
