@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  padding: 0;
  font-family: 'Lato', sans-serif;
  margin: 0px 20px 30px 30px;
}

body > .navbar .navbar-brand{
  margin-left: -30px;
}

h1, h2 {
  color: #204620;
  padding-bottom: 17px;
}

.home-img {
  padding-top: 50px;
}

.get-started-btn {
  padding: 12px 20px;
  background-color: #C5E384;
  border-radius: 8px;
  color: white;
}

.get-started-btn:hover {
  color: #204620;
  border: 1px solid #C5E384;
  background-color: white;
  text-decoration: none;
}

.challenges-btn {
  padding: 12px 20px;
  background-color: #C5E384;
  border-radius: 8px;
  color: white;
}

.challenge-btn {
  padding: 12px 20px;
  background-color: #204620;
  border-radius: 8px;
  color: white;
  border: none;
}

.challenges-btn:hover {
  color: #204620;
  border: 1px solid #C5E384;
  background-color: white;
  text-decoration: none;
}

.challenge-btn:hover {
  color: #204620;
  border: 1px solid #204620;
  background-color: white;
  text-decoration: none;
}

.logout-btn {
  border: none;
  background-color: white;
}

.home-btns {
  padding-top: 20px;
}

.home-text {
  color: #204620;
}

.form-signup-login {
  width: 45%;
}

#signup-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-login-btn {
  border: none;
  width: 100%;
  margin-top: 25px;
}

.error {
  background-color: #EB1515;
  color: white;
}

.remove-btn {
  padding: 8px 15px;
  background-color: #204620;
  border-radius: 8px;
  color: white;
  border: none;
  margin-top: 10px;
}

.remove-btn:hover {
  color: #204620;
  border: 1px solid #204620;
  background-color: white;
  text-decoration: none;
}

#add-milestone {
  padding: 8px 15px;
  background-color: #C5E384;
  border-radius: 8px;
  color: #204620;
  border: none;
  margin-top: 10px;
}

#add-milestone:hover {
  border: 1px solid #C5E384;
  background-color: white;
  text-decoration: none;
}



