@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  padding: 0;
  font-family: 'Lato', sans-serif;
}

h1, h2 {
  color: #204620
}

.home-img {
  padding-top: 50px;
}

.get-started-btn {
  padding: 12px 20px;
  background-color: #C5E384;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

.get-started-btn:hover {
  color: #204620;
  border: 1px solid #C5E384;
  background-color: white;
  text-decoration: none;
  font-weight: normal;
}

.challenges-btn {
  padding: 12px 20px;
  background-color: #C5E384;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

.challenge-btn {
  padding: 12px 20px;
  background-color: #204620;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

.challenges-btn:hover {
  color: #204620;
  border: 1px solid #C5E384;
  background-color: white;
  text-decoration: none;
  font-weight: normal;
}

.challenge-btn:hover {
  color: #204620;
  border: 1px solid #204620;
  background-color: white;
  text-decoration: none;
  font-weight: normal;
}

.logout-btn {
  border: none;
  background-color: white;
}

.home-btns {
  padding-top: 20px;
}

.home-text {
  color: #204620;
}

.form-signup-login {
  width: 45%;
}

#signup-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-login-btn {
  border: none;
  width: 100%;
  margin-top: 25px;
}

.error {
  background-color: #EB1515;
  color: white;
}

