@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  padding: 0;
  font-family: 'Lato', sans-serif;
  margin: 0px 20px 30px 30px;
}

body > .navbar .navbar-brand{
  margin-left: -30px;
}

h1, h2 {
  color: #204620;
  padding-bottom: 17px;
}

.home-img {
  padding-top: 50px;
  width: 700px;
}

.invite-img {
  width: 700px;
}

.get-started-btn {
  padding: 12px 20px;
  background-color: #C5E384;
  border-radius: 8px;
  color: white;
}

.get-started-btn:hover {
  color: #204620;
  border: 1px solid #C5E384;
  background-color: white;
  text-decoration: none;
}

.challenges-btn {
  padding: 12px 20px;
  background-color: #C5E384;
  border-radius: 8px;
  color: white;
}

.challenge-btn {
  padding: 12px 20px;
  background-color: #204620;
  border-radius: 8px;
  color: white;
  border: none;
}

.challenges-btn:hover {
  color: #204620;
  border: 1px solid #C5E384;
  background-color: white;
  text-decoration: none;
}

.challenge-btn:hover {
  color: #204620;
  border: 1px solid #204620;
  background-color: white;
  text-decoration: none;
}

.logout-btn {
  border: none;
  background-color: white;
}

.home-btns {
  padding-top: 20px;
}

.home-text {
  color: #204620;
}

.form-signup-login {
  width: 45%;
}

#signup-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-login-btn {
  border: none;
  width: 100%;
  margin-top: 25px;
}

.error {
  background-color: #EB1515;
  color: white;
}

.remove-btn {
  padding: 8px 15px;
  background-color: #204620;
  border-radius: 8px;
  color: white;
  border: none;
  margin-top: 10px;
}

.remove-btn:hover {
  color: #204620;
  border: 1px solid #204620;
  background-color: white;
  text-decoration: none;
}

#add-milestone {
  padding: 8px 15px;
  background-color: #C5E384;
  border-radius: 8px;
  color: #204620;
  border: none;
  margin-top: 10px;
}

#add-milestone:hover {
  border: 1px solid #C5E384;
  background-color: white;
  text-decoration: none;
}

.select-container {
  /* display: block; */
  position: relative;
  padding-left: 30px;
  padding-right: 15px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.select-container:hover input ~ .checkmark, .radiomark {
  background-color: #ccc;
}

.select-container input:checked ~ .checkmark, .radiomark {
  background-color: #204620;
}

.checkmark:after, .radiomark:after {
  content: "";
  position: absolute;
  display: none;
}

.select-container input:checked ~ .checkmark:after {
  display: block;
}

.select-container input:checked ~ .radiomark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.milestone-field {
  padding-bottom: 10px;
}

.radiomark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.radio-container .radiomark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #204620;
}

.time-format-selection {
  padding-top: 10px;
}

.challenge-box {
  border: 5px solid #C5E384;
  border-radius: 8px;
  margin-bottom: 10px;
}

.challenge-box h3 {
  color: #204620;
  padding-top: 10px;
}

.challenge-btns {
  display: flex;
  padding-top: 10px;
}

.view-challenge-btn {
  padding: 10px 18px;
  background-color: #204620;
  border-radius: 8px;
  color: white;
  border: none;
  font-size: 0.75em;
  margin-right: 10px;
  margin-bottom: 10px;
}

.view-challenge-btn:hover {
  color: #204620;
  border: 1px solid #204620;
  background-color: white;
  text-decoration: none;
}

.delete-btn {
  padding: 10px 18px;
  background-color: #ECF39E;
  border-radius: 8px;
  color: #204620;
  border: none;
  font-size: 0.75em;
}

.delete-btn:hover {
  background-color: white;
  text-decoration: none;
  border: 1px solid #ECF39E;
}

.container {
  padding-bottom: 10px;
}

.progress-bar {
  background-color: #C5E384;
  color: #204620;
}

.challenge-body {
  border: 3px solid #C5E384;
  padding: 15px 10px;
  border-radius: 8px;
}

.challenge-body-milestones {
  border: 3px solid #C5E384;
  padding: 15px 10px;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.milestones-container { 
  display: block;
  margin-left: -30px;
}

h5, h3, p {
  color: #204620;
} 

.green-alert {
  background-color: #C5E384;
  color: #204620;
  width: 40%;
}

label {
  color: #204620;
}

.completed {
  color: white;
  font-size: 0.75em;
  background-color: #EB1515;
  padding: 5px 5px;
  border-radius: 8px;
}
