<h1>This is a single challenge view</h1>

<div>
    <h2>{{challenge.goal}} in {{challenge.timeNumber}} {{challenge.timeFormat}}</h2>
    <p>Daily progress: </p>
    <p>Category: </p>
    <p>Start date: </p>
    <p>Time left:</p>
    <p>Description: </p>
    <p>Progress: counted % by amount of milestones ticked</p>
    <p>Milestones: </p>
    <p>Motivation: </p>
    <p>Resources: </p>
    <p>Thoughts and tips for yourself and others: </p>

    <p>Invite your friends:</p>

    <a href="/challenges/{{challenge.id}}/edit">Edit this challenge</a>
    <hr>
    <a href="/challenges">Back to challenge list</a>
</div>